# Pycache
__pycache__/
**/__pycache__/
experiments/.neptune/

# Outputs and weights
outputs/
notebooks/figures/
notebooks/config_tables/

# Unused code
junk/
notebooks/sandbox.ipynb
notebooks/print_models.ipynb
notebooks/graphormer.ipynb
notebooks/graphormer_figures.ipynb
notebooks/figures_XL.ipynb

# VScode degugging configs
.vscode/
experiments/configs/dbg.json

# Data
data/

# Helper bash scripts
local/

# Write up and notes
paper/
