# Pycache
__pycache__/
**/__pycache__/

# Outputs and weights
outputs/
notebooks/figures/
notebooks/config_tables/

# Unused code
junk/
notebooks/sandbox.ipynb
notebooks/print_models.ipynb

# VScode degugging configs
.vscode/
experiments/configs/dbg.json

# Data
data/
